<div class="container-fluid mt-3">
  <footer class="footer-area footer--light">
    <div class="footer-big">
      <!-- start .container -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="footer-widget">
              <div class="widget-about">
                <h1 class="footer-widget-fact"> PwC Deals</h1>
                <p class="footer-para-fact">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                <!-- <ul class="contact-details">
                    <li>
                      <span class="icon-earphones"></span> Call Us:
                      <a href="tel:344-755-111">344-755-111</a>
                    </li>
                    <li>
                      <span class="icon-envelope-open"></span>
                      <a href="mailto:support@aazztech.com">support@aazztech.com</a>
                    </li>
                  </ul> -->
              </div>
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-md-4 -->
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu footer-menu--1">
                <h4 class="footer-widget-title">Importants Links</h4>
                <ul>
                  <li>
                    <a href="#">About Us</a>
                  </li>
                  <li>
                    <a href="#">How it Works</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">Blog</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-md-3 -->

          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title">Popular Cuisines</h4>
                <ul>
                  <li>
                    <a href="#">South Indian</a>
                  </li>
                  <li>
                    <a href="#">North Indian</a>
                  </li>
                  <li>
                    <a href="#">Beverages</a>
                  </li>
                  <li>
                    <a href="#">Chinese</a>
                  </li>
                  <li>
                    <a href="#">Burgers</a>
                  </li>
                  <li>
                    <a href="#">Pizzas</a>
                  </li>
                  <li>
                    <a href="#">Briyani</a>
                  </li>
                  <li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-lg-3 -->

          <div class="col-md-3 col-sm-4 ">
            <div class="footer-widget">
              <div class="footer-menu no-padding">
                <h4 class="footer-widget-title">Instagram Feeds</h4>
                <div class="row">

                  <div class="col-lg-4 col-sm-4 col-md-4 col-4">
                    <img src="assets/img/FooterImg1.png" class="rounded mt-1" style="width: 100%;" alt="Cinque Terre">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-4">
                    <img src="assets/img/footerImg2.png" class="rounded mt-1" style="width: 100%;" alt="Cinque Terre">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-4">
                    <img src="assets/img/footerImg3.png" class="rounded mt-1" style="width: 100%;" alt="Cinque Terre">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-4">
                    <img src="assets/img/footerImg4.png" class="rounded mt-2" style="width: 100%;" alt="Cinque Terre">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-4">
                    <img src="assets/img/footerImg5.png" class="rounded mt-2" style="width: 100%;" alt="Cinque Terre">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-4">
                    <img src="assets/img/footerImg6.png" class="rounded mt-2" style="width: 100%;" alt="Cinque Terre">
                  </div>


                </div>

                <!-- <ul>
                    <li>
                      <a href="#">Support Forum</a>
                    </li>
                    <li>
                      <a href="#">Terms &amp; Conditions</a>
                    </li>
                    <li>
                      <a href="#">Support Policy</a>
                    </li>
                    <li>
                      <a href="#">Refund Policy</a>
                    </li>
                    <li>
                      <a href="#">FAQs</a>
                    </li>
                    <li>
                      <a href="#">Buyers Faq</a>
                    </li>
                    <li>
                      <a href="#">Sellers Faq</a>
                    </li>
                  </ul> -->
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- Ends: .col-lg-3 -->

        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->

    <div class="mini-footer">

      <div class="row">
        <div class="col-md-6  col-sm-12 col-12 col-lg-6">
          <p class="text-white">© 2021 , All rights reserved. Created by</p>
        </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12">
          <ul id="menu" class="">
            <li class="ml-3 ">
              <a href="#" class="text-white">Terms &amp; Conditions</a>
            </li>
            <li class="ml-3">
              <a href="#" class="text-white"> Privacy</a>
            </li>
            <li class="ml-3">
              <a href="#" class="text-white"> Policy</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </footer>
</div>