<div class="row bg-white topClass p-five">

  <span class="fontAccount m-3">My Orders</span>
    <div class="col-12 col-lg-12 col-md-12">
      <div class="row ">    
          <div class="col-12 col-lg-12 col-md-12">
                  <div class="row no-gutters bg-light p-5"style="    border-left: 5px solid #17d649;">
                    <div class="col-lg-12 col-lg-12 col-12 col-sm-12">
                      <p class="fontconfir">Confirmed</p>
                    </div>
                    <div class="col-md-12 sol-sm-12 col-12">
                      <span class="fontconfir">Order ID: DA022</span>
                      <hr/>
                      <img src="assets/img/product2.png" class="card-img img-rounded m-1 " style="width: 100%;" alt="...">
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                      <span  class="fontconfirrer fontconfirrer768">Placed on 05 January, 2021</span>
                      <hr/>
                      <div class="card-body">
                        <h5 class="card-title fontconfir">Taj Restaurant</h5>
                        <p class="card-text" STYLE="font-size: 11px;">Thousand Lights</p>
                        <p class="card-text"><small class="text-muted mr-4">Hyderabadi Chicken Biryani x 1, Hyderabadi Mutton Biryani x 1</small></p>
                        <a href="#" class=""><i class="fa fa-plus-circle"></i>View Details</a>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-12">
                  
                    <div class="card-body">
                      <button class=" btn btn-sm btn-outline-primary3">Track Order</button>
                      <button class="card-title btn btn-sm btn-outline-secondary3">View Order Details</button>
                      <button class="card-title btn btn-sm btn-outline-secondary4">Cancel Order</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>



