<div class=" row bg-white topClass p-five  mobileMargin">

    <div class="col-12 col-lg-12 col-md-12 ">

        <span class="fontAccount">Manage Addresses</span>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12">
                <div class="row no-gutters bg-light m-3">
                    <div class="col-md-3">
                        <i class="fa fa-home p-4"style="font-size:24px;"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fontSizeAddress">Home</h5>
                            <p class="card-text fontadress">8th Floor, Prestige Palladium Bayan, 129-140, Greams Road, Thousand Lights West, Thousand Lights, Chennai, Tamil Nadu 600006.</p>
                            <span id="btnSearch"  Style="width: 100px;" class="pr-4 adressEdit">Edit</span>
                            <span id="btnSearch"  Style="width: 100px;" class="pr-4 adressEdit">Delete</span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-12">
                <div class="row no-gutters bg-light m-3">
                    <div class="col-md-3">
                        <i class="fa fa-briefcase p-4"style="font-size:20px;"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fontSizeAddress">Office</h5>
                            <p class="card-text fontadress"># 29, Prestige Palladium Bayan, 129-140, Greams Road, Anna Salai, Saidapet, Chennai, Tamil Nadu 600015</p>
                            <span id="btnSearch"  Style="width: 100px;" class="pr-4 adressEdit">Edit</span>
                            <span id="btnSearch"  Style="width: 100px;" class="pr-4 adressEdit">Delete</span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12">
                <div class="row no-gutters bg-light m-3" style="border: 1px dashed #ACACAC;height:200px;">
                    <span class="circle" ><i class="fa fa-plus-circle"></i>                    <span style="    font-size: 18px;
                        display: inline-block;
                        width: 200px;
                        /* text-align: left; */
                        margin-left: 3px;">Add New Address</span>
                </span> 
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
               
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class=" col-12 ol-sm-12 col-md-6 col-lg-6 ">
        <div class="card text-center">
          <div class="card-header bg-white">
            <h1 class="text-left text-header ">Add Address </h1>
          </div>
          <div class="card-body bg-white">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12 col-md-12">


                <input type="text" placeholder="Full Name" class="CardTextBox" id="usr">

              </div>
             
            </div>
          </div>
        </div>
      </div>
</div> -->
