<div class=" row bg-white topClass p-5 mobileMargin ">

    <div class="col-12 col-lg-8 col-md-12 col-sm-12">
        <div class="row mt-3">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <span class="fontAccount d-inline">Account Information</span>


            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">

                <span class="AccountEdit"><i class="fa fa-edit" aria-hidden="true"></i>Edit</span>


            </div>

        </div>
 
        <div class="row mt-5">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <p class="fontAccountName">Full Name</p>
                <span class="fontAccount2">Dipak ranjan sahoo</span>


            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">

                <p class="fontAccountName">Mobile Number</p>
                <span class="fontAccount2">8050630336</span>

            </div>

        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <p class="fontAccountName">Email Id</p>
                <span class="fontAccount2">johnsmith@pwc.com</span>


            </div>


        </div>
    </div>
</div>


<div class="row mt-2 ml-4">

    <div class="col-12 col-lg-12 col-md-12 ">
        <button type="button" class="saveButton">Save</button>
    </div>
</div>