/* Box with hover effect */
.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
  color: #2E2E2E;
}
.overlag img{
  -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.view {
  cursor: default;
  position: relative;
  overflow: hidden;
}
.hm-black-strong .mask {
  background-color: rgba(0,0,0,.7);
}
.waves-effect {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
.overlay .mask {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 94%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-attachment: fixed;
}
.white-text {
  color: #FFF!important;
  margin: 0;
  font-family: 'Celias_Bold';
  font-size: 20px;
}
.overlay:hover .mask {
  opacity: 1;
}
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
/* carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
/* End */

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.w-100 {
  width: 100px;
}

.w-150 {
  width: 150px;
}

.w-250 {
  width: 250px;
}


.HEADERfont {
  font-size: 15px;
  font-family: 'Celias_Med';
  cursor: pointer;
}

.topBar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 13px;

  font-size: 16px;
  height: 10%;
}

.topBar ul {
  margin: 0;
}

.topBar ul li {
  line-height: 42px;
}

.topBar a {
  color: #878c94;
  text-decoration: none;
}

.text-primary {
  color: #0cd4d2;
}

.topBar ul.topBarNav {
  /* margin: 0;
    padding: 0; */
  list-style-type: none;
}

.topBar ul.topBarNav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.topBar ul.topBarNav li:last-child {
  border-right: none;
}

.topBar ul.topBarNav li a {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}



.topBar ul.topBarNav li ul {
  background-color: #ffffff;
  position: absolute;
  top: 42px;
  left: auto;
  min-width: 10px;
  right: 4px;
  border-radius: 0px;
  border: solid 0px;
  margin-right: -4px;
  padding: 0;
  list-style-type: none;
  z-index: 9999;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.topBar ul.topBarNav li ul li {
  display: block;
  line-height: 30px;
  width: 100%;
  border: none;
}

.topBar ul.topBarNav li a {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}

.topBar .dropdown-menu>li>a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #878c94;
  font-size: 15px;
  white-space: nowrap;
}

.topBar .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #00BCD4;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.02);
}


/*CART/////////////////////*/


.cart-items::-webkit-scrollbar {
  width: 6px;
  background-color: #ECECEC;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #084951;
  outline: 1px solid black;
}

.topBar ul.topBarNav li ul.cart .cart-items {
  padding: 10px;
  height: 200px;
  overflow: auto;
}

.topBar ul.topBarNav li ul.cart .cart-items .items {
  /* margin: 0;
    padding: 0; */
  list-style-type: none;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li {
  overflow: hidden;
  clear: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-image {
  width: 60px;
  float: left;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li a {
  margin: 0;
  padding: 0;
  line-height: normal;
  background-color: transparent;
  display: inline;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details {
  position: relative;
  margin-left: 60px;
  padding: 0 15px 0 10px;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: normal;
}

.topBar ul.topBarNav li ul.cart .cart-footer {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.02);
}

.topBar ul.topBarNav li ul.cart .cart-footer a {
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  background-color: transparent;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
  padding: 10px 0 0 0;
  margin: 0;
  min-height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px) {

  .display-table {
    display: table;
    width: 100%;
  }

  .vertical-align {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .grid-space-1 div[class*="col-"] {
    padding: 0 1px;
  }
}

@media (max-width: 767px) {

  div[class^="col-"] {
    margin-bottom: 30px;
  }
}

.middleBar .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.form-control.input-lg {
  font-size: 15px;
}

.middleBar .btn.btn-default {
  color: #ffffff;
  background-color: #0cd4d2;
  border: 1px solid #0cd4d2;
  border-radius: 0px;
}

.middleBar .header-items .header-item {
  display: inline-block;
}

.middleBar .header-items .header-item a {
  position: relative;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  color: #35404f;
}

.middleBar .header-items .header-item a sub {
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #0cd4d2;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: #ffffff;
  font-size: 9px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.middleBar .header-items .header-item a:hover {
  background-color: #0cd4d2;
  color: #ffffff;
}

/*/////////////////////////navbar-default///////////////*/

.navbar-default {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-bottom: 0;
  border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #0cd4d2;
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:after {
  border-top: solid 2px #0cd4d2;

}

.navbar-default .dropdown-menu {
  padding: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #878c94;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.dropdown-menu>li>a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #878c94;
  white-space: nowrap;
}

.dropdown-menu>li>a:hover {
  color: #0cd4d2;
}


/***********************
     megaDropMenu
////////////////////////////*/

.navbar-default .container {
  position: relative;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu {
  position: static;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu {
  width: 100%;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li:first-child {
  padding: 20px 0px 5px 15px;
  font-size: 16px;
  text-transform: uppercase;
  /* text-align: center; */
  color: #0cd4d2;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a {
  display: block;
  color: #878c94;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 15px;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a:hover {
  color: #00BCD4;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.02);
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu img {
  display: block;
  max-width: 100%;
  padding: 20px;
}

.homeFontApp {
  font-size: 35px;
  font-family: "Celias_Bold";
  color: black;
}

.HomLInk2 {
  font-size: 16px;
  font-family: "Celias_Reg";
  color: #484D4F;

}

.HomLInk3 {
  font-size: 16px;
  font-family: "Celias_Bold";
  color: black;

}

.mdi-36px {
  font-size: 54px;
  margin-right: 10px
}

.homeFontApp {
  font-size: 35px;
  font-family: "Celias_Bold";
  color: black;
}

.login {
  margin-top: 2px;
  font-size: 20px;
  font-family: "Celias_Bold";
}
.forgotpaswd{
  font-family: "Celias_Bold";
}
.term {
  color: #0974e8;
  font-size: 17px;
}

.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
  top: 50%;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 16px;
  padding-left: 17px;
  height: 19px;
  line-height: 51px;
  text-align: center;
  pointer-events: none;
  color: #aaa;

}

.fontSize {
  font-size: 22px;
  font-family: 'Celias_Bold';
}

.fontTextSize {
  font-size: 14px;
  font-family: 'Celias_Reg';
}

.fontSizePick {
  font-size: 29px;
  font-family: 'Celias_Bold';
}

.text-Pwc {
  font-family: 'Celias_Bold';
  font-size: 34px;
  text-align: left;
  font: normal normal bold 34px/44px Celias;
  letter-spacing: 0px;
  color: #000000;
}

.offersArround {
  font-size: 34px;
  font-family: 'Celias_Bold';
}

.cardfoods {
  display: inline-block;
  font-size: 20px;
  font-family: 'Celias_Med';
  margin-left: 82px;
  margin-top: 22px;
}

.alignleft {
  float: left;
  text-align: left;
  width: 33.33333%;
}

.aligncenter {
  float: left;
  text-align: center;
  width: 33.33333%;
}

.alignright {
  float: left;
  text-align: right;
  width: 33.33333%;
}

.polaroid {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardfoSmall {

  font-size: 15px;
  font-family: 'Celias_Reg';
  color: black;
  padding: 20px;
}

.imgpwc {
  width: 10%;
  height: 5%;
}

.bannerClass {

  padding-top: 275px;
  /* padding-right: 266px; */
}

.foodlove {
  font-size: 45px;
  font-family: 'Celias_Bold';
  line-height: 56px;
}

.imagewid {
  width: 85%;
}

.fontREg {
  font-size: 20px;
  font-family: Celias_Reg;
}

.imageLeft {
  width: 90%;
  height: 89%;
  float: right;
}

.p-center {
  padding: 7rem !important;
}

.gapCard {
  margin-top: -23px;
  margin-bottom: -28px;
}

.gapCard1 {
  margin-top: -40px;
}

.topleftbtn1 {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 15px;
  background: #007bff;
  color: white;
  font-family: 'Celias_Med';
}

.topleftbtnpara {
  position: absolute;
  top: 198px;
  left: 52px;
  font-size: 26px;
  /* background: #C42016; */
  color: white;
  font-family: 'Celias_Bold';
}

.topleftsmallpara {
  position: absolute;
  top: 233px;
  left: 52px;
  font-size: 14px;
  /* background: #C42016; */
  color: white;
  font-family: 'Celias_Med';
}

.btnsmaii {
  position: absolute;
  top: 259px;
  left: 227px;
  font-size: 15px;

  font-family: 'Celias_Med';
}

.topleftbtn {
  position: absolute;
  top: 152px;
  left: 52px;
  font-size: 15px;
  color: white;
  font-family: 'Celias_Med';
}

@media only screen and (max-width: 320px) {
  .bannerClass {
    padding-top: 0px;
    padding-right: 0px;
  }

  .imageMobileCus {
    position: absolute;
    height: 282px;
    width: 349px;
  }

  .foodlove br {
    display: none;
  }

  .foodTTExt {
    text-align: center;
  }

  .mobileSize {
    padding: 20px;
  }

  .fontREg {
    font-size: 17px;
    font-family: "Celias_Reg";
    color: white;
    text-shadow: 3px 3px 3px black;
  }

  .foodlove {
    font-size: 17px;
    font-family: 'Celias_Bold';
    color: white;
    text-shadow: 1px 4px 1px black;
  }

  .cardfoSmall {

    font-size: 14px;
    font-family: 'Celias_Reg';
    color: black;
    padding: 0px;
  }

  .imgpwc {
    width: 39%;
  }

  .mt-4,
  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .imagewid {
    width: 100%;
    margin-top: 100px;
  }

  .offersArround {
    font-size: 28px;
    font-family: 'Celias_Bold';
    line-height: 30px;
  }

  .btnsmaii {
    position: absolute;
    top: 259px;
    left: 81px;
    font-size: 15px;
    font-family: 'Celias_Med';
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 94%;
  }

  .pull-right2 {
    float: left;
  }

  .p-center {
    padding: 1rem !important;
  }

  .imageLeft {
    width: 100%;
    height: 89%;
    float: right;
  }

  .gapCard1 {
    margin-top: -25px;
  }

}

@media only screen and (max-width: 425px) {
  .bannerClass {
    padding-top: 0px;
    padding-right: 0px;
  }

  .cardfoSmall {

    font-size: 15px;
    font-family: 'Celias_Reg';
    color: black;
    padding: 0px;
  }

  .foodTTExt {
    text-align: center;
  }

  .mobileSize {
    padding: 20px;
  }

  .imageMobileCus {
    position: absolute;
    height: 282px;
    width: 248px;
  }

  .foodlove br {
    display: none;
  }

  .fontREg {
    font-size: 17px;
    font-family: Celias_Reg;
    color: white;
    text-shadow: 3px 3px 3px black;
  }

  .foodloveMobile {
    font-size: 17px;
    font-family: 'Celias_Bold';
    color: white;
    text-shadow: 1px 4px 1px black;
  }

  .imgpwc {
    width: 39%;
  }

  .foodlove {
    font-size: 34px;
    font-family: 'Celias_Bold';
  }

  .mt-4,
  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .imagewid {
    width: 100%;
    margin-top: 100px;
    height: 100%;
  }

  .fontREg {
    font-size: 14px;
    font-family: Celias_Reg;
  }

  .offersArround {
    font-size: 28px;
    font-family: 'Celias_Bold';
    line-height: 30px;
  }

  .btnsmaii {
    position: absolute;
    top: 259px;
    left: 81px;
    font-size: 15px;
    font-family: 'Celias_Med';
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 94%;
  }

  .pull-right2 {
    float: left;
  }

  .p-center {
    padding: 1rem !important;
  }

  .imageLeft {
    width: 100%;
    height: 89%;
    float: right;
  }

  .gapCard1 {
    margin-top: -25px;
  }
}

@media only screen and (max-width: 576px) {
  .bannerClass {
    padding-top: 0px;
    padding-right: 0px;
  }

  .imageMobileCus {
    position: absolute;
    height: 282px;
    width: 428px;
  }

  .foodTTExt {
    text-align: center;
  }

  .mobileSize {
    padding: 20px;
  }

  .foodlove br {
    display: none;
  }

  .fontREg {
    font-size: 17px;
    font-family: Celias_Reg;
    color: white;
    text-shadow: 3px 3px 3px black;
  }

  .foodloveMobile {
    font-size: 17px;
    font-family: 'Celias_Bold';
    color: white;
    text-shadow: 1px 4px 1px black;
  }

  .cardfoSmall {

    font-size: 15px;
    font-family: 'Celias_Reg';
    color: black;
    padding: 0px;
  }

  .foodlove {
    font-size: 34px;
    font-family: 'Celias_Bold';
  }

  .imgpwc {
    width: 39%;
  }

  .mt-4,
  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .imagewid {
    width: 100%;
    margin-top: 100px;
  }

  .fontREg {
    font-size: 14px;
    font-family: Celias_Reg;
  }

  .offersArround {
    font-size: 28px;
    font-family: 'Celias_Bold';
    line-height: 30px;
  }

  .btnsmaii {
    position: absolute;
    top: 259px;
    left: 81px;
    font-size: 15px;
    font-family: 'Celias_Med';
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 94%;
  }

  .pull-right2 {
    float: left;
  }

  .p-center {
    padding: 1rem !important;
  }

  .imageLeft {
    width: 100%;
    height: 89%;
    float: right;
  }

  .gapCard1 {
    margin-top: -25px;
  }

}

@media only screen and (max-width: 768px) {
  .bannerClass {
    padding-top: 86px;
    padding-right: 0px;
  }

  .gapCard1 {
    margin-top: -25px;
  }

  .cardfoSmall {

    font-size: 15px;
    font-family: 'Celias_Reg';
    color: black;
    padding: 0px;
  }

  .imgpwc {
    width: 20%;
  }

  .foodlove {
    font-size: 34px;
    font-family: 'Celias_Bold';
  }

  .mt-4,
  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .imagewid {
    width: 100%;
    margin-top: 100px;
  }

  .fontREg {
    font-size: 14px;
    font-family: Celias_Reg;
  }

  .offersArround {
    font-size: 28px;
    font-family: 'Celias_Bold';
    line-height: 30px;
  }

  .btnsmaii {
    position: absolute;
    top: 259px;
    left: 81px;
    font-size: 15px;
    font-family: 'Celias_Med';
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 94%;
  }

  .pull-right2 {
    float: left;
  }

  .p-center {
    padding: 1rem !important;
  }

  .imageLeft {
    width: 100%;
    height: 89%;
    float: right;
  }

}

@media only screen and (max-width: 1024px) {
  .bannerClass {
    padding-top: 100px;
    padding-right: 0px;
  }

  .gapCard1 {
    margin-top: -25px;
  }

  .foodTTExt {
    text-align: center;
  }

  .mobileSize {
    padding: 20px;
  }

  .cardfoSmall {

    font-size: 15px;
    font-family: 'Celias_Reg';
    color: black;
    padding: 0px;
  }

  .imgpwc {
    width: 20%;
  }

  .foodlove {
    font-size: 34px;
    font-family: 'Celias_Bold';
  }

  .mt-4,
  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .imagewid {
    width: 100%;
    margin-top: 100px;
  }

  .fontREg {
    font-size: 14px;
    font-family: Celias_Reg;
  }

  .offersArround {
    font-size: 28px;
    font-family: 'Celias_Bold';
    line-height: 30px;
  }

  .btnsmaii {
    position: absolute;
    top: 259px;
    left: 81px;
    font-size: 15px;
    font-family: 'Celias_Med';
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 94%;
  }

  .pull-right2 {
    float: left;
  }

  .p-center {
    padding: 1rem !important;
  }

  .imageLeft {
    width: 100%;
    height: 89%;
    float: right;
  }

}






.carsolLeft {
  /* display: inline-block; */
  position: absolute;
  top: 26%;
    right: 89%;
}

a {
  display: inline-block;
}

a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border-color: #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
 
  border-color: #e74c3c;
}

.left {
  display: inline-block;
  width: 4em;
  height: 4em;
  /* border: 0.5em solid white;
  border-radius: 50%; */
  border: none;
  margin-right: 1.5em;
}

.left:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.4em solid #e0e0e0;
  border-right: 0.4em solid #e0e0e0;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.carsolright {
  /* display: inline-block; */
  position: absolute;
  top: 26%;
    left: 93%;
}
.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: none;
  margin-left: 1.5em;
}

.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.4em solid #e0e0e0;
  border-right: 0.4em solid #e0e0e0;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.topRighttbtn{
  position: absolute;
  top: 158px;
  left: 73%;
  font-size: 15px;
  /* background: #C42016; */
  color: white;
  font-family: 'Celias_Bold';
}
.topRightbtnpara{
  position: absolute;
  top: 198px;
  left: 67%;
  font-size: 26px;
  /* background: #C42016; */
  color: white;
  font-family: 'Celias_Bold';
}
.topRightsmallpara{
  position: absolute;
  top: 233px;
  left: 73%;
  font-size: 14px;
  /* background: #C42016; */
  color: white;
  font-family: 'Celias_Med';
}
.btnsmaiiR{
  position: absolute;
  top: 259px;
  left: 73%;
  font-size: 15px;

  font-family: 'Celias_Med';
}
