<div class=" row bg-white topClass p-five mobileMargin">

    <div class="col-12 col-lg-8 col-md-12 col-sm-12">
        <div class="row mt-3">
            <div class="col-12 col-sm-12 col-lg-6 col-md-12 ">
                <span class="fontAccount">Change Password</span> </div></div>
 
                <div class="row mt-3">
                    <div class="col-12 col-sm-12 col-lg-12 col-md-12">
      
      
                      <p for="usr" class="formTExt">Old Password*</p>
                      <input type="password" class="CardTextBox" id="usr">
      
                    </div>
                    <div class="col-12 col-sm-12 col-lg-12 col-md-12">
                      <p for="usr" class="formTExt">New Password*</p>
                      <input type="password" class="CardTextBox" id="usr">
                    </div>
                    <div class="col-12 col-sm-12 col-lg-12 col-md-12">
                      <p for="usr" class="formTExt">Confirm Password*</p>
                      <input type="password" class="CardTextBox" id="usr">
                    </div>
                </div>
    </div>
</div>

<div class="row mt-2 ml-4">

  <div class="col-12 col-lg-12 col-md-12 ">
      <button type="button" class="saveButton">Save</button>
  </div>
</div>
