<div class=" row bg-white topClass p-five">

    <div class="col-12 col-lg-8 col-md-12 col-sm-12">
        <div class="row mt-5">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12" >
                <span class="fontAccount">My Favourites</span> </div></div>
 
        <div class="row mt-3">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <div class="card m-2">
                    <img class="card-img-top" src="assets/img/product1.png" alt="Card image cap">
                    <div class="card-body card-link ">
                       
                             <div class="row">
                            <div class="col-6 col-lg-6">
                              
                            </div>
                            <div class="col-16 col-lg-6">
                                <!-- <a href="#" class="btn btn-warning buttomTop btn-sm  productListSidebar"><i class="fa fa-heart" class="font-size:4px"></i>data</a> -->
                            </div>
                        </div>
                            <!-- <button class="btn btn-success btn-block">Add to cart</button>
                            <button class="btn btn-success btn-block">Add to cart</button> -->
                        <!-- <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">99.00 $</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Add to cart</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-footer bg-white border-0">
                        <h4 class="card-title    producttext"  >Da Alfredo</h4>
                        <p class="card-text    productsearch">68 5Th Avenue </p><span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star  checkedStar"></span>
                        </div>
                    
                </div>


            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">

                <div class="card m-2">
                    <img class="card-img-top" src="assets/img/product2.png" alt="Card image cap">
                    <div class="card-body card-link ">
                       
                             <div class="row">
                            <div class="col-6 col-lg-6">
                              
                            </div>
                            <div class="col-16 col-lg-6">
                                <!-- <a href="#" class="btn btn-warning buttomTop btn-sm  productListSidebar"><i class="fa fa-heart" class="font-size:4px"></i>data</a> -->
                            </div>
                        </div>
                            <!-- <button class="btn btn-success btn-block">Add to cart</button>
                            <button class="btn btn-success btn-block">Add to cart</button> -->
                        <!-- <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">99.00 $</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Add to cart</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-footer bg-white border-0">
                        <h4 class="card-title    producttext"  >Da Alfredo</h4>
                        <p class="card-text    productsearch">68 5Th Avenue </p><span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star checkedStar"></span>
                        <span class="fa fa-star  checkedStar"></span>
                        </div>
                    
                </div>

            </div>

        </div>
       
    </div>
</div>


