.fontAccount {
  font-size: 18px;
  font-family: "Celias_Bold";
  color: #285cf0;
}

.AccountEdit {
  float: right;
  font-size: 18px;
  font-family: "Celias_Bold";
  color: black;
}

.fontAccountName {
  font-size: 14px;
  font-family: "Celias_Reg";
  color: #757575;
}

.fontAccount2 {
  font-size: 18px;
  font-family: "Celias_Bold";
  color: blacl;
}

.buttomTop {
  position: absolute;
  left: 11px;
  top: -132px;
}

.producttext {
  font-size: 18px;
  font-family: "Celias_Bold";
}

.productsearch {
  font-size: 18px;
  font-family: "Celias_Reg";
}

.checkedStar {
  color: orange;
  float: right;
}

.topClass {
  margin-left: 81px;
}

.p-five {
  padding: 3rem !important;
}

@media only screen and (max-width: 320px) {
  .imageheiMob {
    position: absolute;
    height: 104%;
    width: 100%;
    max-width: 99%;
    margin-left: -6px;
  }

  .p-five {
    padding: 0rem !important;
  }

  .topClass {
    margin-left: 0px;
  }

  .AccountEdit {
    float: left;
    font-size: 15px;
    font-family: "Celias_Bold";
    color: black;
  }

  .saveButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 57px;
    margin-top: 35px;
    padding: 11px 48px;
    font-size: 14px;
    font-family: "Celias_Med";
    border-radius: 4px;
    border: none;
  }

  .mobileMargin {
    margin-top: 20px;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .circle {
    font-size: 23px;
    color: #285cf0;
    position: relative;
    margin: 80px 70px;
    display: inline-block;
  }
}

@media only screen and (max-width: 4250px) {
  .imageheiMob {
    position: absolute;
    height: 104%;
    width: 100%;
    max-width: 99%;
    margin-left: -6px;
  }

  .p-five {
    padding: 0rem !important;
  }

  .topClass {
    margin-left: 0px;
  }

  .AccountEdit {
    float: left;
    font-size: 15px;
    font-family: "Celias_Bold";
    color: black;
  }

  .saveButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 57px;
    margin-top: 35px;
    padding: 11px 48px;
    font-size: 14px;
    font-family: "Celias_Med";
    border-radius: 4px;
    border: none;
  }

  .mobileMargin {
    margin-top: 20px;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .circle {
    font-size: 23px;
    color: #285cf0;
    position: relative;
    margin: 80px 70px;
    display: inline-block;
  }
}

@media only screen and (max-width: 576px) {
  .imageheiMob {
    position: absolute;
    height: 104%;
    width: 100%;
    max-width: 99%;
    margin-left: -6px;
  }

  .p-five {
    padding: 0rem !important;
  }

  .topClass {
    margin-left: 0px;
  }

  .AccountEdit {
    float: left;
    font-size: 15px;
    font-family: "Celias_Bold";
    color: black;
  }

  .saveButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 57px;
    margin-top: 35px;
    padding: 11px 48px;
    font-size: 14px;
    font-family: "Celias_Med";
    border-radius: 4px;
    border: none;
  }

  .mobileMargin {
    margin-top: 20px;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .circle {
    font-size: 23px;
    color: #285cf0;
    position: relative;
    margin: 80px 70px;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .imageheiMob {
    position: absolute;
    height: 104%;
    width: 100%;
    max-width: 99%;
    margin-left: -6px;
  }

  .p-five {
    padding: 0rem !important;
  }

  .topClass {
    margin-left: 0px;
  }

  .AccountEdit {
    float: left;
    font-size: 15px;
    font-family: "Celias_Bold";
    color: black;
  }

  .saveButton {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 57px;
    margin-top: 35px;
    padding: 11px 48px;
    font-size: 14px;
    font-family: "Celias_Med";
    border-radius: 4px;
    border: none;
  }

  .mobileMargin {
    margin-top: 20px;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .circle {
    font-size: 23px;
    color: #285cf0;
    position: relative;
    margin: 80px 70px;
    display: inline-block;
  }
}
